.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 16px;
}

.mainImageContainer {
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.gradientOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(to top, rgba(11, 63, 116, 0.575), transparent);
}
.imageText {
  position: absolute;
  bottom: 24px;
  left: 16px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}

.imageDate {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: #ddd;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
